<ion-view view-title="Login" name="login-view">
  <ion-content class="padding-middle hero">
    <div class="row">
      <div class="col col-50 col-offset-25">
        <form name="myForm">
          <div class="card padding">
            <div class="logo"></div>
            <h4 class="text-center padding">Enter email address to recover password</h4>
            <div style="margin-top:30px"></div>
            <div class="list list-inset">
              <label class="item item-input item-border-right">
                <input type="email" placeholder="Email" ng-model="data.email" required>
              </label>
            </div>
            <button class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="passwordRecovery()">Send Email</button>
            <button ui-sref="login" class="button button-block button-positive button-clear">Back to Login</button>
          </div>
        </form>
    </div>
  </div>
  </ion-content>
</ion-view>
